{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href=""
  >
  <title>Game Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
          src="{% static 'images/video-game-logo2.png' %}"
          alt="The Game Collector Logo"
        >
      </a>
    </div>
    <nav>
      <ul>
        <!-- new markup below -->
        <li><a href="/games">All Games</a></li>
        <!-- existing markup -->
        <li><a href="{% url 'game-create' %}">Add a Game</a></li>
        <li><a href="/about">About</a></li>
        {% comment %} <li><a href="/about">About</a></li> {% endcomment %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>