{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/games/game-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/game-icon.png' %}" 
      alt="A game controller"
    >
  </div>
  <div class="cat-details">
    <h1>{{ game.name }}</h1>
    <p>Release year: {{game.release_year}}
    <p>{{ game.description }}</p>
    <div class="cat-actions">
      <a href="{% url 'game-update' game.id %}" class="btn warn">Edit</a>
      <a href="{% url 'game-delete' game.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Types</h2>
    </div>
    <h3>Add a Type</h3>
    <form
      action="{% url 'add-type' game.id %}" 
      method="post" 
      class="subsection-content"
			autocomplete="off"
    >
      {% csrf_token %}
      {{ type_form.as_p }}
      <button type="submit" class="btn submit">Add Type</button>
    </form>
    <h3>Other Types</h3>
    {% if game.type_set.all.count %}
    <table>
      <thead>
        <tr><th>Type</th><th>Max number of players</th></tr>
      </thead>
      <tbody>
        {% for type in game.type_set.all %}
          <tr>
            <td>{{type.get_type_display}}</td>
            <td>{{type.max_players}} players</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="subsection-content">
        <p>{{game.name}} seems boring</p>
      </div>
    {% endif %}
  </section>
</div>

{% endblock %}