{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/games/game-index.css' %}"
/>
{% endblock %}

{% block content %}


<section class="card-container">
  {%if not games.count %}
  <h2>You have no games!</h2>
  {% else %}
  {% for game in games %}
    <a href="{% url 'game-detail' game.id %}">
      <div class="card">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/game-icon.png' %}" 
              alt="game icon"
            >
          </div>
          <h2 class="card-title">{{ game.name }}</h2>
          <p><small>{{ game.description }}</small></p>
        </div>
      </div>
    </a>
  {% endfor %}
  {% endif %}
</section>

{% endblock %}